.form-control {
  min-width: 20rem;
  max-width: 25rem;
  width: 40%;
  margin-bottom: 0.5rem;
  border: 2px solid rgba(33, 37, 41, 0.3);
}

.container-buscador {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

#boton-buscar {
  min-width: 20rem;
  max-width: 25rem;
  width: 40%;
  background-color: rgba(33, 37, 41);
  border-color: rgba(33, 37, 41);
}

.message-container{
  width: 30rem;
  text-align: center;
  padding-top: 1rem;
  color: red;
}