.noticia {
    min-height: calc(100vh - 23rem);
}

.container-tag{
    align-items: center;
    background-color: rgba(33,37,41, 0.1);
    padding: 1.8rem;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 1rem
}

.alert{
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    padding: 1.8rem;
}